.transition-form {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.transition-form .form-light-input {
  margin: 10px 0px;
}

.transitions-body {
}

.transition-form .btn-container {
  display: flex;
}
.transition-form .btn-container button,
.transition-form .btn-container input {
  width: 100px;
  margin-left: 10px;
}

.transition-form .btn-container input.delete {
  background-color: rgb(233, 122, 122);
  color: white;
}
